venv

# Dockerfile
Dockerfile

# Exclude inputs/outputs
sample_inputs

# Exclude request and processing script
processing.py
sample_request.json

# Exclude gcpdiag

# Exclude "build-time" ignore files.
.dockerignore
.gcloudignore

# Exclude git history and configuration.
.gitignore